// pagrindu spalvos
$header_color: rgba(196, 196, 196, 0.1);
$main_color: white;
$footer_color: #bbbbbb;
$base_color: #626780;
$base_fontsize: 16px;
$gradient: linear-gradient(180deg, #ffffff 48.96%, #e5e5e5 100%);
